* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid yellow; */
    font-size: 30px;
    font-family: 'DotGothic16', sans-serif;
}

html {
    background-color: #444;
    color: #eee;
}

body {
    text-align: center;
}

header {
    padding: 10px;
}

h1 {
    font-size: 2rem;
}

.calculator {
    margin: 30px auto;
    padding: 40px;
    background-color: midnightblue;
    width: 450px;
    border-radius: 20px;
    box-shadow: 
        10px 10px 20px #222,
        inset 0 0 40px rgb(12, 12, 61);
}

#display-container {
    background-color: #222;
    width: 300px;
    height: 55px;
    margin: 0 auto;
    padding: 5px 15px;
    text-align: right;
    outline: 2px solid gray;
}

.btn {
    font-size: 20px;
    padding: 3px;
    width: 80px;
    height: 80px;
    background-color: #444;
    color: #eee;
    transition: all 0.3s;
}

.btn:hover {
    background-color: #888;
    transform: scale(.9);
}

.blank {
    border: none;
    background-color: transparent;
    width: 80px;
    height: 80px;
}

#btn-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 5px;
    height: 430px;
    margin-top: 20px;
}

.btn#btn-equals {
    width: 165px;
}

footer {
    position: absolute;
    bottom: 5px;
    width: 100%;
    font-size: .25rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.fa-github {
    transition: transform 0.2s;
}

.fa-github:hover {
    transform: scale(1.3);
}